*.tsk
*.hi
*.o
.stack-work/
ApplicativeFunctors
BartoszMilewski
eval
EvalArithmatics
Hello
Kadane
ListMonadExample
Main
MonadErrorEx
QHaskell
Random
ReaderMonadExample
Sheep
StateMonadExample
Supply
SupplyClass
test
Ex_4_4
simple
SimpleInputOutput
Prologue_IOAnApplicativeFunctor
TheMaybeMonad
HW01
M
HW03
HW04
Fibonacci
StringBufEditor
